@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  @apply bg-brand-black text-brand-white antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.leaflet-container {
  z-index: 1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}